// BREADCRUMBS
// -----------

.breadcrumb {
  padding: 7px 14px;
  margin: 0 0 $baseLineHeight;
  list-style: none;
  @include gradient-vertical($white, #f5f5f5);
  border: 1px solid #ddd;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 0 $white);
  li {
    display: inline-block;
    @include ie7-inline-block();
    text-shadow: 0 1px 0 $white;
  }
  .divider {
    padding: 0 5px;
    color: $grayLight;
  }
  .active a {
    color: $grayDark;
  }
}