// TOOLTIP
// ------=

.tooltip {
  position: absolute;
  z-index: $zindexTooltip;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  @include opacity(0);
  &.in     { @include opacity(0.8); }
  &.top    { margin-top:  -2px; }
  &.right  { margin-left:  2px; }
  &.bottom { margin-top:   2px; }
  &.left   { margin-left: -2px; }
  &.top .tooltip-arrow    { @include popoverArrowTop(); }
  &.left .tooltip-arrow   { @include popoverArrowLeft(); }
  &.bottom .tooltip-arrow { @include popoverArrowBottom(); }
  &.right .tooltip-arrow  { @include popoverArrowRight(); }
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: $white;
  text-align: center;
  text-decoration: none;
  background-color: $black;
  @include border-radius(4px);
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
